
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    text-align: center;
}

/*landing page styling*/
.lp{
  background-attachment: fixed;
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
}
.lp button{
  background-color: #e6dada;
  border-radius: 60px;
  border: none;
  width: 30%;
  margin-top:40px ;
  font-size: 40px;
  cursor: pointer;
  

}
.lp button:hover{
  background-color: #000000;
  color: white;
  border-radius: 50px;
}

#name{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:blanchedalmond;
 letter-spacing: 10%;
}
#span1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #d1bf58;
letter-spacing: 0px;
font-size: 1%;
}
#span2{
  font-family: serif;
  color:blanchedalmond;
  letter-spacing: 10px;
  }
/*site logo*/
img.pic{
  border-radius: 20px;
  border: 1px;
  

}

/* Navigation Bar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 20px 10px;
    position: relative;
    
  }
  nav .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  nav .menu-toggle {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
  }
  nav .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  nav .nav-links li {
    margin: 0 15px;
  }
  nav .nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  nav .nav-links li a:hover {
    color: rgb(12, 12, 51);
    
  }
  
 /*header styling*/
header {
    padding: 50px 20px;
    background-position: 100%;
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 20%;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    font-size: 6em;
}
p {
    font-size: 2em;
}
.cta {
    margin-top: 20px;
    margin-bottom: 0px;
}
.cta a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 10px;  
}
.cta a:hover{
  background-color: #0f0000;
  transition-duration: 1s;
}
/*section*/
.section {
    padding: 40px 20px;
}
.section h2{
  font-size: 2em;
}
.section p{
  font-size: 1.5em;
}

/*about page styling*/
.me{
   width: 40%;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 20%;
  word-spacing: 10px; 

}
.abt{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  
}
.aboutpic{
flex-basis: 50%; 
}
.aboutpic img{
  width: 100%;
  height: 90%;
  border-radius:0%;
}

/*footer styling*/
footer {
    background: rgb(12, 12, 51);
    padding: 20px;
    margin-top: 30px;
    font-size: smaller;
  
}
/*portfolio styling*/
#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px;
}
.card {
  width: 30%;
  height: 300px;
  background-color: none;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: background-color 0.3s;
}
.card:hover {
  transition: ease-out;
  transition-duration: 4s;
  color: white;
}
.card-head {
  background-color: #faf7f7;
  color: rgb(0, 0, 0);
  padding: opx;
 border: 1px;
 border-bottom:none;
 border-radius: 10px;
}
.card-head h2{
  margin-top: 0px;
}
.card-body {
  /* width: ; */
  padding: 20px;
  color: black;
  
  
}
.card-body img{
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0 0;
}

.card-footer {
  background-color: #0f0000;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #faf7f7;
  color: rgb(0, 0, 0);
  padding: opx;
 border: 1px;
 border-bottom:none;
 border-radius: 40px;
}
.card-footer:hover{
  background-color: rgb(0, 180, 30);
}
.card-footer button:hover {
  background-color: rgb(0, 180, 30);
  
}
.card-footer button {
  width: 100px;
  height: 30px;
  cursor:pointer;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding:0px;
 border: 1px;
 border-bottom:none;
 border-radius: 2px;
 font-size: larger;
 width: 33%;
 border-radius: 10px;
}
/*home styling*/
#contact a{
  text-decoration: none;
  color: #3d3b3b; 
}
#contact a:hover{
  color: #ffffff; 
}
/* Mobile Responsive Styles */
@media (max-width: 768px) {
    nav .nav-links {
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #000000;
      width: 100%;
      display: none; 
    }
    
    h1 {
      font-size: 3em;
    }
    p {
      font-size: 1em;
  }
    nav .nav-links.active {
      display: flex;
      
    }
    nav .nav-links li {
      margin: 10px 0;
    }
    nav .menu-toggle {
      display: block;
     
    }
    .card {
      width: 100%;
  }
  }
  @media (max-width: 480px) {

    .card {
      width: 90%;
      
  }
  .me {
    width: 100%;
    height: 5%;
    font-size: 5px;
    font-family: serif;
  }
  .abt{
      display: flex;
     flex-direction: row;
     justify-content: space-between; 
     height: 10%;
     
  }
  .aboutpic{
  flex-basis: 2%;
  height: 5%;
  }
  .aboutpic img{
    width: 1%;
    height: 1%;

  }
  }
